@import "tailwindcss";

@font-face {
  font-family: "Diodrum";
  src: url("../assets/fonts/DiodrumArabic-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Diodrum";
  src: url("../assets/fonts/DiodrumArabic-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Diodrum";
  src: url("../assets/fonts/DiodrumArabic-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Diodrum";
  src: url("../assets/fonts/DiodrumArabic-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Diodrum";
  src: url("../assets/fonts/DiodrumArabic-Bold.woff2") format("woff2");
  font-weight: 700;
}
@theme {
  --font-sans: "Diodrum", sans-serif;
}
html {
  direction: rtl;
}

body {
  font-family: var(--font-sans);
  background: #ffffff;
}
